.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #112240;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; 
  box-sizing: border-box;
}


.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.title {
  position: absolute;
  bottom: 330px;
  left: 10px;
  color: #64ffda;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
}


.divider {
  width: 2px;
  height: 90vh;
  background: #ffffff;
  opacity: 0.3;
  margin: 0 20px;
}


.right-section {
  flex: 3; 
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
}


.chatbox {
  height: 100vh;
  width: 100%;
  background: #233554;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #233554;
  display: flex;
  flex-direction: column;
}

.bot-message {
  align-self: flex-start;
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px 12px 12px 0;
  background: #00aaa5;
  color: white;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  max-width: 70%;
  padding: 10px;
  margin: 5px;
  border-radius: 12px 12px 0 12px;
  background: #e0e0e0;
  color: black;
  word-wrap: break-word;
}


.input {
  border-top: 1px solid #ddd;
  padding: 10px;
  background: #f5f8fb;
  display: flex;
}
.input > form{
  display: flex;
  flex: 1;
}

.input>form>input{
  flex: 1; 
  padding: 7px 70px; 
  margin-left: 10px;
  font-size: 16px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
.input > form > button {
  padding: 6px 13px;
  font-size: 16px;
  background-color: #00aaa5;
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  margin-left: 30px; 
  transition: background-color 0.3s ease; 
}

/* Hover effect */
.input > form > button:hover {
  background-color: #008c86; 
}


.audio-upload-container {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.audio-upload-container input {
  flex: 1; 
  padding: 8px;
  border-radius: 5px;
}
.audio-upload-container input[type="file"] {
  color: white; 
  cursor: pointer;
}
.audio-upload-container label {
  color: white; 
  font-size: 16px;
  margin-left: 10px; 
}

.audio-upload-container button {
  background-color: #8892b0;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; 
}

.audio-upload-container button:hover {
  background-color: #008c86;
}







